@import "tailwindcss";

:root {
  --primary: #FF6A1C;
  --secondary: #FFAE56;
  --accent: #F5788B;
  --background: #FFDA62;

  /* Optional shades */
  --primary-light: #FF8A4D;
  --text-dark: #2D2D2D;
  --text-light: #FFFFFF;
}
